* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

:root {
    --app-bg-hover: #f0f0f0;
    --bg-color: #ffffff;
    --surface-color: #ffffff;
    --text-color: #242424;
    --border-color: #ececec;
}

@media (prefers-color-scheme: dark) {
    :root {
        --app-bg-hover: #4a4a4a;
        --bg-color: #3c3c3c;
        --surface-color: #3c3c3c;
        --text-color: #fff;
        --border-color: #6a6a6a;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    width: 500px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#apps {
    display: grid;
    padding: 16px;
    margin: 5px;
    border: 1px solid var(--border-color);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(99, min-content);
    border-radius: 16px;
    background-color: var(--surface-color);
}

.app {
    overflow: hidden;
    flex-direction: column;
    height: 90px;
    gap: 4px;
    justify-content: stretch;
    text-decoration: none;
    line-height: 14px;
    font-size: 12px;
    padding: 8px 4px;
    display: flex;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: var(--app-bg-hover);
    }
}

.icon-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    .icon {
        width: 32px;
        height: 32px;
    }
}

.label {
    flex-shrink: 0;
    justify-self: end;
    text-align: center;
    height: 28px;
    text-overflow: ellipsis;
}